Package: enigma2-plugin-extensions-samsungtv
Version: 1.0
Description: SamsungTV plugin for enigma2
Section: base
Priority: optional
Maintainer: xcentaurix
Architecture: all
OE: enigma2-plugin-extensions-samsungtv
License: GPL-3.0-or-later
Homepage: https://github.com/OpenCockpit/SamsungTV
Source: https://github.com/OpenCockpit/SamsungTV/blob/master/build.sh
